__pycache__
/venv/
/static/generated/

/config/defaults.json

/config/defaults/*.json
!/config/defaults/default-workflow.json

/config/workflows/*.json
!/config/workflows/default-workflow.json

/config/categories/*.json
/config/users/*.json
/config/roles/*.json

/config/sessions/

/config/defaults/unused/
/config/workflows/unused/
